 

html{
    background-image: url(giphy.gif);
    border: 25px solid transparent ;
    border-image: url(color.gif) 1 round;
    height: auto; 
}
ul.first{
    list-style-type: none;
    margin:0;
    padding: 0;
    background-color:deepskyblue;
    position:sticky;
    top:0;
    z-index: 1;
}

li.first{
    float:left;
    position: sticky;
}
li.first a {
    display: block;
    color: cyan;
    text-align: center;
    padding: 14px 50.5px;
    text-decoration: none;
    background-color: deepskyblue;
}
li.first a:hover{
    background-color: blue;    
}
.here{
    background-color: darkblue;
}

ul.second{
    list-style-type: none;
    margin:0px;
    padding: 0;
    overflow: hidden;
    position:sticky;
    bottom:0;
}
li.second{
    float:right;
}

li.second a:hover:not(.active){
    position:relative;
background-color:grey;
    opacity: 0.6;
}

li.second a {
    position:relative;
    display:block;
    background-color: grey;
    text-align: center;
    padding: 1px 20px;
    text-decoration: none;
    opacity: 0.3;
}
h4{
    color:black;
}
.dropdown {
    float: left;
    overflow: hidden;
    background-color: deepskyblue;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: cyan;
    padding: 14px 50.5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    position: sticky;
}

 .dropdown:hover .dropbtn {
    background-color: blue;
}

.dropdown-content {
    margin: 0;
    display: none;
    position: absolute;
    background-color: #0066cc;
    min-width: 160spx;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    margin: 0;
    float: none;
    color: cyan;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: darkblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}
